/* ===== BODY ===== */

body {
    background: linear-gradient(135deg, #2b323e, #202225);
    font-family: 'Poppins Regular', sans-serif;
}


/* ===== NAVIGATION ===== */

nav {
    padding: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 0 10px;
    overflow: hidden;
    background: #303744;
    border-radius: 8px;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.075);
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #aaa !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: .1s;
}

nav li a:hover {
    color: #fff !important;
    transition: .1s;
}

nav li a:active {
    color: #fff !important;
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.active {
    color: #fff;
}


/* ===== FOOTER ===== */

footer {
    background: #2a2c30;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.075);
    padding: 10px 30px 25px;
    width: 75%;
    margin: 300px auto 30px;
    text-decoration: none;
    overflow: hidden;
}

footer a {
    color: #fff;
}

footer a:visited {
    color: #fff;
}

footer p {
    margin-bottom: -10px;
}

.footer-title {
    margin-top: 30px;
}


/* ===== GENERAL ===== */

body {
    animation: fadein 1s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.text-light {
    color: hsla(0, 0%, 100%, .6);
}

.justify {
    text-align: justify;
}

.color-grey {
    color: #CCC;
}

.color-green {
    color: #00ff00ba;
}

.color-red {
    color: #ff3b00db;
}

.weight-light {
    font-weight: 300;
}

.weight-bold {
    font-weight: 700;
}

.weight-black {
    font-weight: 900;
}

.title {
    font-family: 'Poppins ExtraBold', sans-serif;
    font-size: 6em;
    margin-top: 100px;
    text-align: center;
    hyphens: manual;
}

.sub-title {
    font-family: 'Poppins ExtraBold', sans-serif;
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
    hyphens: manual;
}

.margin-top-reset {
    margin-top: 0;
}

.margin-bottom-reset {
    margin-bottom: 0;
}

.margin-left-reset {
    margin-left: 0;
}

.margin-right-reset {
    margin-right: 0;
}

.margin-xl {
    margin: 100px 100px;
}

.margin-xl-top-bottom {
    margin: 100px 0 100px 0;
}

.margin-xl-top {
    margin-top: 100px;
}

.margin-xl-bottom {
    margin-bottom: 100px;
}

.margin-xl-bottom-mobile {
    margin-bottom: 100px;
}

.margin-xl-sides {
    margin: 0 100px 0 100px;
}

.margin-semi-large {
    margin: 75px 75px;
}

.margin-semi-large-top {
    margin-top: 75px;
}

.margin-semi-large-bottom {
    margin-bottom: 75px;
}

.margin-semi-large-top-bottom {
    margin: 75px 0 75px 0;
}

.margin-semi-large-sides {
    margin: 0 75px 0 75px;
}

.margin-large {
    margin: 75px 75px;
}

.margin-large-top {
    margin-top: 50px;
}

.margin-large-bottom {
    margin-bottom: 50px;
}

.margin-large-top-bottom {
    margin: 50px 0 50px 0;
}

.margin-large-sides {
    margin: 0 50px 0 50px;
}

.margin-semi-medium {
    margin: 25px 25px;
}

.margin-semi-medium-sides {
    margin: 0 25px 0 25px;
}

.margin-semi-medium-top {
    margin-top: 25px;
}

.margin-semi-medium-bottom {
    margin-bottom: 25px;
}

.margin-semi-medium-top-bottom {
    margin: 25px 0 25px 0;
}

.margin-medium {
    margin: 10px 10px;
}

.margin-medium-sides {
    margin: 0 10px 0 10px;
}

.margin-medium-top {
    margin-top: 10px;
}

.margin-medium-bottom {
    margin-bottom: 10px;
}

.margin-medium-top-bottom {
    margin: 10px 0 10px 0;
}

.radius-medium {
    border-radius: 8px;
}

.radius-large {
    border-radius: 16px;
}

.color-white {
    color: #FFF;
}

.main-text {
    margin: auto 10%;
    transition: .4s;
}

.main-text-medium {
    margin: auto 5%
}

.main-text-small {
    margin: auto 25%
}

.text-icon {
    margin-bottom: -5px;
    filter: grayscale(100%) contrast(0%) brightness(1.25);
}

.title-icon {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: -40px;
    filter: grayscale(100%) contrast(0%) brightness(10);
}

.title-icon-src {
    width: 150px !important;
    height: 150px !important;
    margin-bottom: -40px;
    margin-right: 20px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.no-highlight {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-display {
    display: none;
}

.a-no-style {
    text-decoration: none;
}

.flag {
    color: black !important;
    margin: 0 auto;
    position: relative;
}

.flag-de {
    background: linear-gradient(rgb(13, 13, 13) 0, rgb(13, 13, 13) 33%, rgb(242, 13, 13) 33%, rgb(242, 13, 13) 67%, rgb(242, 196, 13) 67%, rgb(242, 196, 13) 100%);
}

.flag-en {
    background: url('/assets/img/locale/en.svg') no-repeat center;
    background-size: cover;
}

.hide {
    opacity: 0;
    transition: .1s;
}

.show {
    opacity: 1 !important;
}

.border-button:hover .show-on-hover {
    opacity: 1;
    transition: .1s;
}

.align-left {
    text-align: left;
}

.align-right {
    float: right;
}

.align-center {
    text-align: center;
}

.align-center-force {
    text-align: center;
    margin: 0 auto;
}

.font-size-medium {
    font-size: 2em !important;
}

.font-size-large {
    font-size: 4em !important;
}


/* ===== BOX ===== */

.box-close {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    transition: .1s;
}

.box-close:hover {
    transform: rotate(180deg);
    transition: .6s;
}

.box-text {
    position: relative;
    background-color: #2f3136;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    min-width: 130px;
}

.fas {
    margin-left: 4px;
}

.box-text .fas {
    cursor: pointer;
}

.box-success {
    background-color: #28a745;
    color: white;
}

.box-warning {
    background-color: #ffc107;
    color: black;
}

.box-danger {
    background-color: #dc3545;
    color: white;
}


/* ===== VIDEO ===== */

.video {
    border-radius: 3px;
    transition: .4s;
}

.video:hover {
    box-shadow: 0 5px 20px #1f1f1f;
    transition: .4s;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container.ratio4x3 {
    padding-bottom: 75%;
}


/* ===== CARD ===== */

.card {
    position: relative;
    overflow: hidden;
    transition: .1s;
    margin: 20px;
    max-width: 350px;
    min-width: 350px;
    display: inline-block;
    align-self: center;
    justify-self: center;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
}

.card:hover {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15), 0 25px 30px #00000050;
    transform: translate(0, -10px);
    transition: .1s;
}

.card-img {
    position: absolute;
    left:-10000%; right: -10000%;
    top: -10000%; bottom: -10000%;
    margin: auto auto;
    min-width: 1000%;
    min-height: 1000%;
    -webkit-transform:scale(0.1);
    transform: scale(0.1);
    z-index: -1;
}

.card:hover .card-img {
    filter: blur(150px);
    -webkit-transform:scale(0.105);
    transform: scale(0.105);
    transition: .1s;
}

.card-txt {
    background-color: rgba(24, 25, 28, 0.9);
    padding: 1px 30px 20px;
    min-height: 350px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    text-align: left;
}

.card:hover .card-txt {
    visibility: visible;
    opacity: 1;
    transition: .2s;
}

.card-footer {
    background-color: rgba(37, 40, 43, 0.9);
    text-align: center;
    padding: 1px 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.card-footer p {
    margin-bottom: 20px;
}

.card:hover .card-footer {
    background-color: rgba(32, 34, 37, 0.9);
    visibility: visible;
    opacity: 1;
    transition: .2s;
}

.card-links {
    background-color: rgba(37, 40, 43, 0.9);
    border-top: 1px solid #414141;
    padding: 1px 30px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.card:hover .card-links {
    background-color: rgba(32, 34, 37, 0.9);
    visibility: visible;
    opacity: 1;
    transition: .2s;
}

.card-links a:visited, .card-links a:active, .card-links a:link {
    text-decoration: none;
    color: black;
    transition: .4s;
}

.card h1 {
    font-family: 'Poppins Bold', sans-serif;
    color: #FFF;
    text-align: left;
}

.card h2 {
    color: #FFF;
    text-align: left;
}

.card p {
    color: #999;
}

.grid {
    margin: 0 auto;
    width: 95%;
    justify-content: center;
    text-align: center;
}


/* ===== BADGE ===== */

.badge-wrapper {
    margin-bottom: 40px;
    text-align: left;
}

.badge-small {
    border-radius: 6px;
    padding: .25em .4em;
    font-size: 80%;
    font-weight: 400;
    display: inline-block;
}

.badge {
    font-family: 'Poppins Light', sans-serif;
    padding: .25em .4em;
    font-size: 65%;
    font-weight: 600;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.badge-green {
    background-color: #28a745;
}

.badge-yellow {
    background-color: #ffc107;
    color: black;
}

.badge-red {
    background-color: #dc3545;
}

.badge-white {
    background-color: #fff;
    color: black;
}


/* ===== INPUT ===== */

.input-field {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #999;
    border-radius: 8px;
    padding: 10px;
    color: white;
    font-family: 'Poppins Regular', sans-serif;
    font-size: 2em;
    outline: none;
    transition: .2s;
    text-transform: uppercase;
}

.input-field:focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.26);
    transition: .2s;
}

.submit-button {
    font-weight: 700;
    font-size: 2em;
}


/* ===== BUTTONS ===== */

.button {
    background-color: #79808c;
    color: hsla(0, 0%, 100%, .8);
    border-radius: 5px;
    transition: .1s;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 38%;
    text-align: center;
    display: inline-block;
    outline: none;
}

.button:hover {
    background-color: #bac7d9;
    color: hsla(0, 0%, 0%, .75);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.16), 0 0 15px rgba(255, 255, 255, 0.16);
    transition: .1s;
    transform: translate(0, -2px)
}

.button-left {
    margin-left: 0;
    margin-right: 10px;
}

.button-right {
    margin-left: 10px;
    margin-right: 0;
}

.button-disabled {
    background-color: #42464d;
    color: hsla(0, 0%, 100%, .2);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 38%;
    text-align: center;
    display: inline-block;
}

.border-button {
    font-family: 'Poppins Regular', sans-serif;
    border: solid 2px white;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-top: 25px;
    margin-right: 5px;
    transition: .1s;
    hyphens: manual;
    cursor: pointer;
    outline: none;
}

.border-button:hover {
    background: white;
    color: black;
    transition: .1s;
    transform: translate(0, -1px);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.26);
}

.border-button-transparent {
    font-family: 'Poppins Regular', sans-serif;
    border: solid 2px white;
    display: inline-block;
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
    color: white;
    margin-top: 25px;
    margin-right: 5px;
    transition: .2s;
    hyphens: manual;
    cursor: pointer;
    outline: none;
}

.border-button-transparent:hover {
    background: rgba(255, 255, 255, 0.11);
    transition: .2s;
    transform: translate(0, -1px);
}


/* ===== MOBILE ===== */

@media (max-width: 480px) {
    nav {
        width: 95%;
    }

    nav li {
        width: 100%;
    }

    .nav-logo {
        display: none;
    }

    footer {
        margin-top: 50px;
        margin-bottom: 25px;
    }

    .title {
        margin-top: 50px;
        margin-bottom: 15px;
        font-size: 4.5em;
    }

    .margin-xl-bottom-mobile {
        margin-top: -30px;
        margin-bottom: 30px;
    }

    .main-text-medium {
        margin: 0 !important;
    }

    .main-text-small {
        margin: auto 5%;
    }

    .grid {
        width: 100%;
    }

    .card {
        min-width: 100px;
        margin-left: 15px!important;
        margin-right: 15px!important;
    }

    .card:hover {
        transform: translate(0, 0);
    }

    .card-txt {
        max-height: 150px;
    }

    .card-links {
        padding: 1px 15px;
    }

    .center-mobile {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        width: 50%;
    }

    .input-field {
        width: 95%;
    }

    .submit-button {
        margin: 25px 0 auto;
    }
}